<%- include('partials/head') %> 


<body>
    <%- include('partials/nav') %> 
    
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum delectus earum voluptatem, quisquam eveniet assumenda quaerat. Perspiciatis consequatur porro amet quis sapiente? Eaque recusandae incidunt vel facilis, accusamus odit rerum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque minus optio necessitatibus at facere sequi quisquam hic dolorum aut laboriosam error voluptatum ex, non accusantium eveniet earum, deserunt labore placeat.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis nihil temporibus qui doloremque explicabo harum odit ex sapiente odio at obcaecati numquam tenetur, distinctio consectetur ab non alias asperiores hic!</p>
</body>
</html>